<html>
<head>
  <style>
   table {
     border: 1px solid black;
     border-collapse: collapse;
   }
   td, th {
     border: 1px solid black;
     border-collapse: collapse;
     padding-left: 10px;
     padding-right: 10px;
   }
   #search, #search input {
     font-size: 25px;
   }
  </style>
  <script src="https://fb.me/react-0.13.0.js"></script>
  <script src="https://fb.me/JSXTransformer-0.13.0.js"></script>
<script type="text/jsx">
/** @jsx React.DOM */
var allGames = {{ allGames}};

var RANK_SORT = function(a, b) { return a.ranking - b.ranking;};
var RATING_SORT = function(a, b) { return b.rating - a.rating;};
var NUM_RATINGS_SORT = function(a, b) { return b.numRatings - a.numRatings;};
var COMPLEXITY_SORT = function(a, b) { return a.complexity - b.complexity;};
var PLAYTIME_SORT = function(a, b) { return a.playTime - b.playTime;};
var SingleGame = React.createClass({
  render: function() {
    var url = "https://www.boardgamegeek.com" + this.props.game.bggUrl;
    var aHref = <a href={url}>{this.props.game.name}</a>;
    return <tr>

        <td>{this.props.game.ranking}</td>
        <td>{aHref}</td>
        <td>{this.props.game.rating}</td>
        <td>{this.props.game.complexity}</td>
        <td>{this.props.game.playTime} mins</td>
        <td>{this.props.game.numRatings}</td>
        <td>{this.props.game.minNumPlayers} - {this.props.game.maxNumPlayers}</td>
        <td></td>
        <td></td>
        <td><RecordPlay gameId={this.props.game.bggId} offset="0" csrf={this.props.csrf}/></td>
      </tr>;
  }
});

var RecordPlay = React.createClass({

  render: function() {
    var dates = [];

    var today = new Date();
    for (var i = 0; i >= -30; i--) {
      var currDate = new Date(today);
      currDate.setDate(currDate.getDate() + i);
      var dateStr = (currDate.getMonth() + 1) + "/" + currDate.getDate() + "/" + currDate.getFullYear();
      var opt = <option value={dateStr}>{dateStr}</option>;
      dates.push(opt);
    }
    var sel = <select onChange={this.handleDateChange}>{dates}</select>;

    var sendBtn = <button className="sendBtn" onClick={this.handleSendClick}>Save</button>;
    return <span className="dateOptSpan">{sel}{sendBtn}</span>;

  },

  // Handles change of select option.
  handleDateChange: function(e) {
    this.setState({ dateSelected: e.target.value});
  },
  // Sends the play date to the backend to be saved.
  handleSendClick: function(e) {
    var self = this;
    var url = "/savePlay?csrfmiddlewaretoken=" + this.props.csrf;
    fetch(url, {
        method: 'POST',
        headers: { 'X-CSRFToken': this.props.csrf
        },
        body: JSON.stringify({gameId: self.props.gameId, date: self.state.dateSelected}) 
      })
    .then(res => console.log(res));
  }

});

var Home = React.createClass({
  getInitialState: function() {
    return { sortFn: RANK_SORT,
             numPlayersFilterNum: 0 };
  },
  render: function() {
      var gameRows = [];
      var filteredGames = this.filterGames(this.props.allGames);
      var sortedGames = filteredGames;
      sortedGames.sort(this.state.sortFn);
      for (var i = 0; i < sortedGames.length; i++) {

        var game = <SingleGame game={sortedGames[i]} key={sortedGames[i].bggId} csrf={this.props.csrf}/>
        gameRows.push(game);
      }

      var search = <div id="search">Search <input type="text" onKeyUp={this.searchKeyUp}/></div>
      return <div id="homeDiv">{search}<br/>{this.formNumPlayersFilter()}<br/><br/>
        <table id="gamesTable"><tbody>
        <tr id="gamesHeaderRow">
          <th onClick={this.formChangeSortFn(RANK_SORT)} >Ranking</th>
          <th>Name</th>
          <th onClick={this.formChangeSortFn(RATING_SORT)}>Rating</th>
          <th onClick={this.formChangeSortFn(COMPLEXITY_SORT)} >Complexity</th>
          <th onClick={this.formChangeSortFn(PLAYTIME_SORT)}>Play Time</th>
          <th onClick={this.formChangeSortFn(NUM_RATINGS_SORT)} ># Ratings</th>
          <th># Players</th>
          <th>Last played</th>
          <th># Plays</th>
          <th></th>
        </tr>
       { gameRows}
       </tbody>
      </table>
      </div>;
  },

  // Forms the num players filter
  formNumPlayersFilter: function() {
    var options = [];
    for (var i = 0; i <= 12; i++) {
      var showVal = i == 0 ? "" : (i + "");
      var opt = <option value={i}>{showVal}</option>;
      options.push(opt);
    }
    return <div id="numPlayersFilter">
        Num Players:
        <select id="numPlayersSelect" onChange={this.handleNumPlayersFilterChange}>{options} </select>
      </div>;
  },

  formChangeSortFn: function(sortFn) {
    var self = this;
    return function(e) {
      self.setState({sortFn: sortFn});
    };
  },

  // Handle change num players filter - updates state.
  handleNumPlayersFilterChange: function(e) {
    var val = e.target.value;
    if (!val) {
      val = 0;
    }
    this.setState({ numPlayersFilterNum: val});
  },

  // Filters out games that don't meet certain criteria (stored in state) and
  // returns array of games that do match all the criteria.
  filterGames: function(games) {
    var filtered = [];
    for (var i = 0; i < games.length; i++) {
      if (this.matchesFilters(games[i])) {
        filtered.push(games[i]);
      }
    }
    return filtered;
  },

  // Returns true if the game matches all current filters, false otherwise.
  matchesFilters: function(game) {
    if (this.state.searchKeyword) {
      // if does not contain keyword, immediately return
      if (!game.name.toLowerCase().includes(this.state.searchKeyword.toLowerCase())) {
        return false;
      }
    }

    if (this.state.numPlayersFilterNum > 0) {
      var matchesPlayers =
        game.minNumPlayers <= this.state.numPlayersFilterNum
        && this.state.numPlayersFilterNum <= game.maxNumPlayers;
      if (!matchesPlayers) {
        return false;
      }
    }
    
    return true;

  },

  // Handler for input in the search text field.
  searchKeyUp: function(e) {
    this.setState({searchKeyword: e.target.value});
  },
});
React.render(
  <Home allGames={allGames} csrf={document.getElementsByName("csrfmiddlewaretoken")[0].value}/>, document.getElementById("allGames"));
</script>
</head>
<body>
{% csrf_token %} 
<h1>Boardgames</h1>
<div id="allGames"></div>
<br/><br/><span>Data from www.boardgamegeek.com</span>
</body>
</html>
