<html>
<head>
  <style>
   table {
     border: 1px solid black;
     border-collapse: collapse;
   }
   td, th {
     border: 1px solid black;
     border-collapse: collapse;
     padding-left: 10px;
     padding-right: 10px;
   }
  </style>
  <script src="https://fb.me/react-0.13.0.js"></script>
  <script src="https://fb.me/JSXTransformer-0.13.0.js"></script>
<script type="text/jsx">
/** @jsx React.DOM */
var allGames = {{ allGames}};

var RANK_SORT = function(a, b) { return a.ranking - b.ranking;};
var RATING_SORT = function(a, b) { return b.rating - a.rating;};
var NUM_RATINGS_SORT = function(a, b) { return b.numRatings - a.numRatings;};
var COMPLEXITY_SORT = function(a, b) { return a.complexity - b.complexity;};
var PLAYTIME_SORT = function(a, b) { return a.playTime - b.playTime;};
var SingleGame = React.createClass({
  render: function() {
    var url = "https://www.boardgamegeek.com" + this.props.game.bggUrl;
    var aHref = <a href={url}>{this.props.game.name}</a>;
    return <tr>

        <td>{this.props.game.ranking}</td>
        <td>{aHref}</td>
        <td>{this.props.game.rating}</td>
        <td>{this.props.game.complexity}</td>
        <td>{this.props.game.playTime} mins</td>
        <td>{this.props.game.numRatings}</td>
        <td>{this.props.game.minNumPlayers} - {this.props.game.maxNumPlayers}</td>
      </tr>;
  }
});

var Home = React.createClass({
  getInitialState: function() {
    return { sortFn: RANK_SORT };
  },
  render: function() {
      var gameRows = [];
      var sortedGames = this.props.allGames;
      sortedGames.sort(this.state.sortFn);
      for (var i = 0; i < sortedGames.length; i++) {

        var game = <SingleGame game={sortedGames[i]}/>
        gameRows.push(game);
      }
      return <table id="gamesTable">
        <tr id="gamesHeaderRow">
          <th onClick={this.formChangeSortFn(RANK_SORT)} >Ranking</th>
          <th>Name</th>
          <th onClick={this.formChangeSortFn(RATING_SORT)}>Rating</th>
          <th onClick={this.formChangeSortFn(COMPLEXITY_SORT)} >Complexity</th>
          <th onClick={this.formChangeSortFn(PLAYTIME_SORT)}>Play Time</th>
          <th onClick={this.formChangeSortFn(NUM_RATINGS_SORT)} ># Ratings</th>
          <th># Players</th>
        </tr>
       { gameRows}
      </table>;
  },

  formChangeSortFn: function(sortFn) {
    var self = this;
    return function(e) {
      self.setState({sortFn: sortFn});
    };
  }
});
React.render(
  <Home allGames={allGames} />, document.getElementById("allGames"));
</script>
</head>
<body>
<h1>Boardgames</h1>
<div id="allGames"></div>
</body>
</html>
